body
{
    background: rgba(196, 89, 8, 0.658);
    margin-top: -2%;
    width: 95%;
    text-align: center;
    color:black;
    font-size: 15px;
}
header
{
    padding: 15px 0;
    color:black;
}

label
{
    padding: 12px 12px 12px 12px;
    display: inline-block;
}
.label
{
    min-width: 175px;
    display: inline-block;
}
.form-content
{
   
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid;
    

}
input
{
    width: 10%;
    padding: 12px 12px;
   
}
.form
{
    width: 60%;
    padding: 10px 50px;
    box-shadow: 3px solid;
}
.row-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;  
    
}
.form-head
{
    color:black;
    text-transform: capitalize;
    padding-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;

}
.maindiv
{
    margin-top: -12%;
    padding: 15px ;
    background-color:white;
    font-family: Cambria, Cochin;
    box-shadow: 2px 2px 2px 2px;    
}
.form-content
{
    display: flex;
    font-size: 120%;
    align-items: center;
    border: 2px solid;
    border-color: aliceblue;
    padding: 12px 12px;
    padding: 30px;
    
}

.logo
{
   width: 300px;
   padding: 35px 60;  

}
.row-button
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.row-content
{
    color: black;
    text-transform: capitalize;
    padding-bottom: 20px;
    opacity: 1;
    
}
.form
{
    width: 65%;
    padding: 49px;
    box-shadow: 0px 3px 6px 7px;
    color:black;
    border: 5px solid white;
    border-radius: 8px;
    opacity: 1;
    font-size: 22px;
}
.profile
{
    width: 70px;
    border-radius: 50%;
}
.fromgroup
{
    padding-right: 200px;

}